.country-info-card-principal-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.country-info-card-principal-country-card {
    width: 580px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);

}

.country-info-card-principal-nivel0-frame0 {
    width: 575px;
    height: 939px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(247, 249, 252, 1);
    border-radius: 12px;
    border: 1px solid rgba(209, 214, 232, 1);

}

.country-info-card-principal-nivel1-frame0 {
    width: 575px;
    height: 867px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel2-frame1 {
    width: 575px;
    height: 867px;
    display: flex;
    padding: 20px 160px;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
}

.country-info-card-principal-nivel3-frame0 {
    width: 512px;
    height: 815px;
    display: flex;
    padding: 20px 0;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel4-frame0 {
    width: 512px;
    height: 512px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.country-info-card-principal-nivel5-frame0 {
    width: 512px;
    height: 512px;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame0 {
    width: 480px;
    height: 480px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    justify-content: center;
}

.country-info-card-principal-nivel7-frame0 {
    gap: 32px;
    top: 16px;
    left: 16px;
    width: 480px;
    height: 480px;
    display: flex;
    padding: 16px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.country-info-card-principal-nivel8-frame0 {
    width: 448px;
    height: 164px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel9-frame0 {
    gap: 8px;
    width: 448px;
    height: 164px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel10-frame0 {
    width: 448px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel11-frame0 {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.country-info-card-principal-text {
    height: auto;
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 60px;
    text-decoration: none;
    font-size: 60px;
    /** Le pondre un borde para que se vea mas en supuestos de imagenes blancas, aunque no queda bien del todo */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.country-info-card-principal-nivel10-frame1 {
    width: 448px;
    height: 96px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel11-frame01 {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.country-info-card-principal-text02 {
    height: auto;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 24px;
    text-decoration: none;
    /** Le pondre un borde para que se vea mas en supuestos de imagenes blancas, aunque no queda bien del todo */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.country-info-card-principal-nivel4-frame1 {
    width: 512px;
    height: 46.5px;
    display: flex;
    padding: 16px 16px 8px;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel5-frame01 {
    width: 97.09375px;
    height: 22.5px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame01 {
    width: 234px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;

}


.country-info-card-principal-text04 {
    color: rgb(12, 17, 28);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;

    font-weight: 700;
    line-height: 22.5px;
    text-decoration: none;
}

.country-info-card-principal-nivel4-frame2 {
    width: 512px;
    height: 269px;
    display: flex;
    padding: 16px;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel5-frame02 {
    gap: 4px;
    top: 16px;
    left: 16px;
    width: 240px;
    height: 79px;
    display: flex;
    padding: 16px 8px 16px 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame02 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame001 {
    width: 46.28125px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame001 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text05 {
    color: rgba(79, 102, 150, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel6-frame1 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame002 {
    width: 100%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame002 {
    width: 204px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text07 {
    color: rgba(12, 17, 28, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel5-frame1 {
    gap: 4px;
    top: 16px;
    left: 256px;
    width: 240px;
    height: 79px;
    display: flex;
    padding: 16px 0 16px 8px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame03 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame003 {
    width: 70.0625px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame003 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text09 {
    color: rgba(79, 102, 150, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel6-frame11 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame004 {
    width: 172px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame004 {
    width: 193px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text11 {
    color: rgba(12, 17, 28, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel5-frame2 {
    gap: 4px;
    top: 95px;
    left: 16px;
    width: 240px;
    height: 79px;
    display: flex;
    padding: 16px 8px 16px 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame04 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame005 {
    width: 60.515625px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame005 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text13 {
    color: rgba(79, 102, 150, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel6-frame12 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame006 {
    width: 50%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame006 {
    width: 120px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text15 {
    color: rgba(12, 17, 28, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel5-frame3 {
    gap: 4px;
    top: 95px;
    left: 256px;
    width: 240px;
    height: 79px;
    display: flex;
    padding: 16px 0 16px 8px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame05 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame007 {
    width: 65.25px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame007 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text17 {
    color: rgba(79, 102, 150, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel6-frame13 {
    width: 232px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame008 {
    width: 50%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame008 {
    width: 106px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text19 {
    color: rgba(12, 17, 28, 1);
    height: auto;
    font-size: 14px;
    text-align: left;

    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel5-frame5 {
    gap: 4px;
    top: 174.5px;
    left: 263.5px;
    width: 232px;
    height: 79px;
    display: flex;
    padding: 16px 240px 16px 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame06 {
    width: 240px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame009 {
    width: 28.03125px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame009 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text21 {
    color: rgba(79, 102, 150, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel6-frame14 {
    width: 240px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame010 {
    width: 50%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame010 {
    width: 156px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text23 {
    color: rgba(12, 17, 28, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel5-frame4 {
    gap: 4px;
    top: 174.5px;
    left: 15.5px;
    width: 248px;
    height: 79px;
    display: flex;
    padding: 16px 240px 16px 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
}

.country-info-card-principal-nivel6-frame07 {
    width: 240px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame011 {
    width: 131px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame011 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text25 {
    color: rgb(79, 102, 150);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel6-frame15 {
    width: 240px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.country-info-card-principal-nivel7-frame012 {
    width: 183px;
    height: 21px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.country-info-card-principal-nivel8-frame012 {
    width: 169px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text26 {
    color: rgba(12, 17, 28, 1);
    height: auto;
    font-size: 14px;
    text-align: left;


    line-height: 21px;
    text-decoration: none;
}

.country-info-card-principal-nivel8-frame1 {
    width: 575px;
    height: 48px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
}

.country-info-card-principal-nivel9-frame01 {
    width: 120.578125px;
    height: 48px;
    display: flex;
    padding: 0 20px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    justify-content: center;
    background-color: rgba(25, 91, 229, 1);
}

.country-info-card-principal-nivel10-frame01 {
    width: 80.578125px;
    height: 24px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(25, 91, 229, 1);
}

.country-info-card-principal-nivel11-frame02 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.country-info-card-principal-text28 {
    color: rgba(247, 249, 252, 1);
    width: 81px;
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: center;

    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}