/* You can add global styles to this file, and also import other style files */

/* Quiero utilizar Inter como fuente estandar de mi aplicacion asi que al exporto aqui*/
@font-face{
    font-family: 'Inter';
    src: url('assets/font/Inter-SemiBold.ttf');
}

body{
    margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
