

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e5e8ea;
  display: flex;
  height: 65px;
  justify-content: space-around;
  padding: 12px 20px;
  position: relative;
  width: 100%;
  align-items: center;

}

.header .nivel-frame {
  align-items: center;
  display: flex;
  gap: 32px;
  height: 22.5px;
  position: relative;
  width: 1250px;
}

.header .nivel-frame-wrapper {
  align-items: center;
  display: flex;
  gap: 32px;
  height: 22.5px;
  margin-right: -16.98px;
  position: relative;
  width: 161.88px;
}

.header .header-div {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 22.5px;
  position: relative;
  width: 161.88px;
}

.header .png-transparent-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 16px;
  position: relative;
  width: 16px;
}

.header .png-transparent {
  height: 17px;
  margin-bottom: -1px;
  margin-right: -11px;
  object-fit: cover;
  position: relative;
  width: 27px;
}

.header .div-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 22.5px;
  position: relative;
  width: 129.88px;
}

.header .nivel-frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -0.5px;
  position: relative;
  width: 100%;
}

.header .text-wrapper {
  color: #0c111c;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
  line-height: 22.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .nivel-frame-3 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 40px;
  justify-content: flex-end;
  margin-bottom: -8.75px;
  margin-right: -1104.09px;
  margin-top: -8.75px;
  position: relative;
  width: 1055.11px;
}

.header .nivel-frame-4 {
  align-items: center;
  display: flex;
  gap: 14px;
  height: 40px;
  position: relative;
  width: 286.94px;
}

.header .nivel-frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 21px;
  position: relative;
  width: 65px;
}

.header .nivel-frame-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -1px;
  position: relative;
  width: 66px;
}

.header .text-wrapper-2 {
  color: #0c111c;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .nivel-frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 21px;
  position: relative;
  width: 39px;
}

.header .nivel-frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.header .nivel-frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 21px;
  position: relative;
  width: 74px;
}

.header .nivel-frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 21px;
  position: relative;
  width: 43.22px;
}

.header .text-wrapper-3 {
  color: #0c111c;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin-right: -23.78px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .nivel-frame-11 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 40px;
  position: relative;
}

.header .nivel-frame-12 {
  align-items: center;
  background-color: #e8eaf2;
  border-radius: 12px;
  display: flex;
  height: 35px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 40px;
}

.nivel-frame-12:hover {
  cursor: pointer;
}

.header .nivel-frame-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 20px;
  position: relative;
  width: 20px;
}

.header .vector-wrapper {
  height: 20px;
  position: relative;
  width: 20px;
}

.header .vector {
  height: 15px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 16px;
}

.header .img {
  height: 16px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 15px;
}

.header .nivel-frame-14 {
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.header-links {
  text-decoration: none;
  color: inherit;
}

/* Alinear los iconos al centro */
.vector-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Quitar estilos a los enlaces */
.header-a {
  text-decoration: none;
}

.popup-container {
  width: 230px;
  height: 205px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999;
  border: 1px solid rgb(209, 214, 232, 1);
  background-color: rgba(247, 249, 252, 1);
  border-radius: 12px;

}


.popup-my-account {
  width: 227px;
  height: 185px;
  display: flex;
  padding: 8px 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
}

.popup-nivel4-frame0 {
  gap: 16px;
  width: 226px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);

}

.popup-nivel5-frame0 {
  gap: 16px;
  top: 8px;
  left: 16px;
  width: 210px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}

.popup-nivel6-frame0 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 28px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
}

.nivel-frame-14:hover {
  cursor: pointer;
}

.popup-nivel6-frame2 {
  width: 130px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;

}

.popup-nivel7-frame0 {
  width: 130px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.popup-nivel8-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.popup-text {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
  font-weight: 700;
}

.popup-nivel7-frame1 {
  width: 86.140625px;
  height: 21px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  width: 120px;

}

.popup-nivel8-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.popup-text2 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.popup-nivel4-frame1 {
  gap: 16px;
  width: 226px;
  height: 56px;
  display: flex;
  padding: 0 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}

.popup-nivel5-frame01 {
  gap: 16px;
  top: 8px;
  left: 16px;
  width: 210px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}

.popup-nivel6-frame01 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
  border: 1px solid rgba(209, 214, 232, 1);

}

.popup-nivel7-frame01 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
}

.popup-nivel8-frame02 {
  width: 24px;
  height: 24px;
}

.popup-nivel6-frame1 {
  width: 154px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.popup-nivel7-frame02 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.popup-text4 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.popup-my-account1 {
  gap: 16px;
  width: 226px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}

.popup-nivel5-frame02 {
  gap: 16px;
  top: 8px;
  left: 16px;
  width: 210px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}

.popup-nivel6-frame02 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
  border: 1px solid rgba(209, 214, 232, 1);

}

.popup-nivel7-frame03 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;

}

.popup-nivel6-frame11 {
  width: 154px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.popup-nivel7-frame04 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.popup-text6 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.popup-nivel4-frame1:hover,
.popup-my-account1:hover {
  background-color: rgba(232, 234, 242, 0.692);
  cursor: pointer;
}

.a-no-style {
  color: inherit;
  text-decoration: none;
}








/* .notification-overlay{
  width: 230px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 999;
  border: 1px solid rgb(209, 214, 232, 1);
  background-color: rgba(247, 249, 252, 1);
  border-radius: 12px;
  gap: 10px;
} */

/** Efectos para la animacion */

.popup-notification {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.popup-notification.show {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/** Estilos para el popup de no notification */
.popup-no-notification {
  position: absolute;
  top: 50px;
  right: 0px;
}
/** Estilos para el contador de notificaciones */
.notification-counter {
  position: absolute;
  left: 30px;
  top: 25px;
  background-color: rgba(247, 249, 252, 1);;
  border: 1px solid black;
  color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  z-index: 999;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}
img{
  width: 100%;
}
