<div class="login">
    <span>Sign in to your account</span>
    <form class="login-form">
      <mat-form-field class="username">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field class="password" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <mat-checkbox>Check me!</mat-checkbox>
      <button mat-raised-button color="primary">Log in</button>
    </form>
  </div>
  